{% extends 'base.html' %}
{% block content %}
<div class="row mx-2" style="margin-top: 100px; margin-bottom: 200px;">
    {% if messages %}
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
    <div class="alert alert-primary" role="alert">
        <button type="button" class="close" data-bs-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
    </div>
    {% endif %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-bs-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
    </div>
    {% endif %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-bs-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
    </div>
    {% endif %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
    <div class="alert alert-warning" role="alert">
        <button type="button" class="close" data-bs-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    <div class="col-12">
        <h1 class="bg-light my-2 p-2"> Bienvenido de nuevo <span class="text-primary">{{ user.username }}</span></h1>
    </div>
    <div class="col-md-4 col-sm-12  mb-3">
        <div class="card">
            <div class="card-body">
                <h2>Crear cuenta</h2>
                <p class="lead">Seleccione el tipo de cuenta que desea crear</p>
                <div class="row">
                    <div class="col-12 d-grid gap-2">
                        <a href="{% url 'customer_signup' %}" class="btn btn-primary" role="button">Cliente </a>
                    </div>
                    <div class="col-12 d-grid gap-2">
                        <a href="{% url 'admin_signup' %}" class="btn btn-secondary" role="button">Administrador</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-12 bg-light table-responsive">
        <h1 class="my-2">
            Lista de Clientes
        </h1>
        {% for user in users %}
        <!-- Present all the data in a table-->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Usuario</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.customer.name }}</td>
                    <td>{{ user.customer.address }}</td>
                    <td>{{ user.customer.phone }}</td>
                    <td>{{ user.customer.email }}</td>
                    <td>
                        <a href="{% url 'admins:edit_status' pk=user.id %}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
    </div>

    <div class="col-12 bg-light table-responsive mt-3">
        <h1 class="my-2">
            Lista de Cuidadores
        </h1>
        {% for petwatcher in petwatchers %}
        <!-- Present all the data in a table-->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Motivo</th>
                    <th scope="col">Cliente</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ petwatcher.reason}}</td>
                    <td>{{ petwatcher.customer.name }}</td>
                    {% if petwatcher.accepted == False %}
                    <td>
                        <span class="badge bg-warning text-dark">Pendiente</span>
                    </td>
                    {% endif %}
                    {% if petwatcher.accepted == True %}
                    <td>
                        <span class="badge bg-success text-dark">Aceptado</span>
                    </td>
                    {% endif %}
                    <td>
                        <!--A group button -->
                        <div class="btn-group d-flex flex-row bd-highlight" role="group" aria-label="Basic example">
                            <a href="{% url 'admins:petwatcher_delete' pk=petwatcher.id %}" class="btn btn-danger">Eliminar</a>
                            <a href="{% url 'admins:petwatcher_check' pk=petwatcher.id %}" class="btn btn-success">Verificar</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
    </div>
</div>

{% endblock content %}