{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="row" style="margin-top: 200px; margin-bottom: 200px;">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                {% if form.non_field_errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {% for error in form.non_field_errors %}
                    <p{% if forloop.last %} class="mb-0" {% endif %}>{{ error }}</p>
                        {% endfor %}
                </div>
                {% endif %}
                <h2>Ingresa con tu cuenta</h2>
                <hr>
                <form method="post" novalidate>
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {{ form.username|as_crispy_field }}
                    {{ form.password|as_crispy_field }}
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}