{% extends 'base.html' %}

{% block content %}
<div class="row" style="margin-top: 200px; margin-bottom: 200px;">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h2>Crear cuenta (vista Administrador)</h2>
                <p class="lead">Seleccione el tipo de cuenta que desea crear</p>
                <a href="{% url 'customer_signup' %}" class="btn btn-primary" role="button">Crear cliente</a>
                <a href="{% url 'admin_signup' %}" class="btn btn-secondary" role="button">Crear Administrador</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}