{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row mb-5 mt-5">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <!--If user_type == customer -->
                {% if user_type == 'customer' %}
                <h2>Registrate como un cliente</h2>
                {% else %}
                <h2>Crea otra cuenta administrador</h2>
                {% endif %}
                <hr>

                {% if messages %}
                {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                <div class="alert alert-primary" role="alert">
                    <button type="button" class="close" data-bs-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-bs-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-bs-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div class="alert alert-warning" role="alert">
                    <button type="button" class="close" data-bs-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                
                <form method="post" novalidate>
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success">Registrarse</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}