{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="contact_register">
    <div class="row mb-5 mt-5">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2>Contactanos</h2>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">
                        {{contact_form|crispy}}
                        <button type="submit" class="btn btn-success" style="background: #CB9AE2;">Enviar</button>
                    </form>
                    {{contact_message}}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}