{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>.caption-center{
    top: 30%;
}
</style>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>



    <div class="carousel-inner" >
        <div class="carousel-item active">
            <img src="{% static 'images/img_home1.png' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-md-block caption-center">
                
                    <h1 class="title1">     
                      Cuidando a tu mejor amigo  
                    </h1>
                    <h2 class="subtitle1 fw-bold">     
                       Por un futuro mejor 
                    </h2>            
                        
            </div>
        </div>

        <div class="carousel-item">
            <img src="{% static 'images/img_home2.png' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block caption-center">
                <h1 class="title2">     
                    Siempre a tu lado 
                </h1>
                <h2 class="subtitle2 fw-bold">     
                    Como tus amigos más cercanos
                </h2>  
            </div>          
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/img_home3.png' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block caption-center">
                <h1 class="title3">     
                    Confia en nosotros 
                </h1>
                <h2 class="subtitle3 fw-bold">     
                    Y siempre estaremos a tu lado  
                </h2>  
            </div>          
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>



<!-- Scrollable modal 
<div class="modal-dialog modal-dialog-scrollable">
    ...
  </div>-->

  
  <!-- Modal nosotros -->
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Nosotros</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Wawas se estableció con la finalidad de dar una mejor atención a los perros, creemos que se merecen el mejor
            trato, y no solo nos referimos en su día a día con el dueño o dueña, sino en cada aspecto de su vida.
            Cada perro no solo es un mundo, sino que también es un ser vivo con sus necesidades y sentimientos.
            Consideramos fuertemente en el trato personalizado de cada animal. Si tú también crees se merecen lo mejor,
            sigue a Wawas y ayúdanos a cambiar para siempre el mundo de las mascotas.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal Mision-->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Mision</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            La misión de Wawas, es ser reconocidos por nuestro excelencia de servicio, nuestra pasión y dedicación por
            los altos estándares de cuidado, el respeto por las mascotas en especial la raza Canina, el compromiso para
            crear oportunidades de cuido para la mascota querida del hogar, donde sus necesidades básicas, de salud,
            alimentación, higiene, y más esté cubiertas, en ausencia de sus amos. 
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Vision</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Buscamos un reconocimiento a nivel regional, en cuanto al cuidado de las mascotas, nuestros mejores amigos,
            y entregandoles un servicio de calidad y que con el tiempo esperamos que cumplan con nuestras espectativas y
            las del cliente entregando en un futuro el mejor dedicado especialmente al cuidado y bienestar de nuestros
            queridos amigos.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>



  <div class="text-center nosotros-bg pb-3">
    <div class="row align-items-start">
      <div class="col">
           <br><br>
            <!--img src="{% static 'images/imgNosotros.png' %}" style="border-radius: 100%" width="200" height="200" /> -->
        <div class="imgbtn">
          <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal1"
              style="border-radius: 100%" width="200" height="200"><img src="{% static 'images/imgNosotros.png' %}" 
              style="border-radius: 100%" width="200" height="200" /> </a>
        </div>          
          <br> 
          <h4 class="title"> NOSOTROS</h4>
        </div> 

    <div class="col">
          <br><br>
      <div class="imgbtn">
         <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal2"
             style="border-radius: 100%" width="200" height="200"><img src="{% static 'images/imgMision.png' %}" 
             style="border-radius: 100%" width="200" height="200" /> </a>
       </div>          
         <br> 
         <h4 class="title"> MISION</h4>
       </div> 

    <div class="col">
        <br><br>
     <div class="imgbtn">
       <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal3"
           style="border-radius: 100%" width="200" height="200"><img src="{% static 'images/imgVision.png' %}" 
           style="border-radius: 100%" width="200" height="200" /> </a>
     </div>          
       <br> 
       <h4 class="title"> VISION</h4>
     </div> 

    </div>
  </div>

{% endblock content %}