{% extends 'base.html' %}

{% block content %}

{% load static %}

<section class="service">
    <h1>Tenemos los mejores servicios para tu peludito</h1>
    <h2 class="fw-bold">¡Échale un ojo!</h2>
    <a href="{% url 'login' %}" class="btn">SACAR CITA</a>
</section>

<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Cuidadores</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Sabemos que los principales requisitos que debe cumplir un buen canguro de mascotas son la
                seriedad, el sentido de la responsabilidad, disponer de tiempo libre, y experiencia previa en el cuidado
                de
                animales, pero si hay una característica fundamental que todos deben tener es el de amar y
                ofrecer cariño a los animales.
                <br>Los servicios de cuidado de mascotas van desde una simple caminata hasta el cuidado por
                varios días de la mascota, en tu casa o en la casa de la familia anfitriona.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Peluquería</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Nuestros peluqueros caninos son profesionales especializados en higiene y estética que tienen como
                objetivo preservar la salud de las mascotas. No se trata solo de cumplir una función
                estética, sino de cuidar la higiene de la manera más óptima posible para ofrecerle mejores
                cuidados y mejorar su calidad de vida. En la estética canina no solo mejora el aspecto
                físico del animal, sino que existen también ciertas razones médicas.
                <br>El objetivo es mejorar la higiene y la apariencia del can, por lo que sus funciones
                principales son peinar, limpiar, cortar el pelo y cepillar. Aunque también realizan tareas
                de corte de uñas, limpieza del canal auditivo, la aplicación de tratamientos para mejorar el
                pelaje e incluso extraer posibles parásitos externos.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Veterinaria</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Para tu pequeño amigo contamos con médicos veterinarios con los estudios y certificados
                necesarios para poder hacer una valoración de calidad para nuestro compañero, diagnósticos y
                el tratamiento más adecuado para nuestro peludo. Así que, acerciórate de elegir a un buen
                especialista con nuestros servicios de veterinaria.
                <br>Contamos con la infraestructura decuada para que tú y tu mascota se sientan como en casa, todos
                nuestros instrumentos están esterilizados y desinfectados para que tu peludito siempre se
                encuentre seguro.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="text-center service-background py-3" >
    <div class="row align-items-start">
        <div class="col">
            <br>
            <div class="image">
                <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal1"
                    style="border-radius: 100%" width="200" height="200"><img src="{% static 'images/cuidadores.png' %}"
                        style="border-radius: 100%" width="200" height="200" /></a>
            </div>
            <br>
            <h3 class="title">CUIDADORES</h3>
        </div>
        <div class="col">
            <br>
            <div class="image">
                <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal2"
                    style="border-radius: 100%" width="200" height="200"><img src="{% static 'images/peluqueria.png' %}"
                        style="border-radius: 100%" width="200" height="200" /></a>
            </div>
            <br>
            <h3 class="title">PELUQUERIA</h3>
        </div>
        <div class="col">
            <br>
            <div class="image">
                <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal3"
                    style="border-radius: 100%" width="200" height="200"><img
                        src="{% static 'images/veterinaria.png' %}" style="border-radius: 100%" width="200"
                        height="200" /></a>
            </div>
            <br>
            <h3 class="title">VETERINARIA</h3><br>
        </div>
    </div>
</div>

{% endblock content %}