{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

{% load static %}

<div class="container"  style="margin-top: 200px; margin-bottom: 200px;">
    <div class="row my-5">
        <div class="col-12 col-md-6 offset-md-3">
            <!-- a return button -->
            <a href="{% url 'customers:service_customers' %}" class="btn btn-danger mb-3"><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver</a>
            <div class="card card-body">
                <!--Show the DetailView of the apointmen-->
                <h3>Reserva</h3>
                {% if appointment.date == None %}
                    <p>Fecha: No hay fecha especificada</p>
                {% else %}
                <p>Fecha: {{ appointment.date }}</p>
                {% endif %}
                {% if appointment.time == None %}
                    <p>Hora: No hay hora especificada</p>
                {% else %}
                <p>Hora: {{ appointment.time }}</p>
                {% endif %}
                {% if appointment.pet == None %}
                    <p>Nombre de la mascota: No hay mascota especificada</p>
                {% else %}
                <p>Nombre de la mascota: {{ appointment.pet }}</p>
                {% endif %}
                <p>Nombre del servicio: {{ appointment.type }}</p>
                <!--Show Status in card if the STATUS is Pendiente the box will be yello and if the STATUS is Aceptado the box will be green-->
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-11">
                                Estado: {{ appointment.status }}
                            </div>
                            {% if appointment.status == 'Pendiente' %}
                            <div class="col-1" id="logo_form">
                                <i class="fa fa-clock"></i>
                            </div>
                            {% else %}
                            <div class="col-1" id="logo_form">
                                <i class="fa fa-check"></i>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}