{% extends 'base.html' %}
{% block content %}

<div class="container" style="margin-top: 50px; margin-bottom: 200px;">
	<div class="row">
		<div class="col-12">
			<a href="{% url 'customers:service_customers' %}" class="btn btn-outline-info"><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver </a>

			<h1 class="bg-light my-2 p-2"> Conversaciones con clientes </h1>
		</div>
	</div>

	{% for thread in threads.all %}


	<div class="row mb-3">
		<div class="card col-md-12 p-5 shadow-sm">
			<h5><i class="far fa-envelope inbox-icon"></i>@{{ thread.user }} - @{{ thread.receiver }}</h5>
			<a class="stretched-link" href="{% url 'customers:thread' thread.pk %}"></a>
		</div>
	</div>

	{% endfor %}
</div>

{% endblock content %}