{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<style>
    .profile-pic {
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto;
        border-radius: 50%;
    }
</style>

<br>
<div class="container">
    <div class="row mb-5 mt-5">
        <div class="col-md-3">
            <div class="card card-body">
                <h3 style="text-align: center">{{ user.username }}</h3>
                <hr>
                {% if user.customer.profile_image %}
                <img class="profile-pic" src="{{ user.customer.profile_image.url }}" alt="Profile Image">
                {% else %}
                <img class="profile-pic" src="{% static 'images/profile/default-profile-with-dog.png' %}"
                    alt="Profile Image">
                {% endif %}
            </div>
        </div>
        <div class="col-md-9">
            <div class="card card-body">
                <h3 style="text-align: center">Mis datos</h3>
                <form method="POST" action="" enctype="multipart/form-data">

                    {% csrf_token %}
                    {{ form|crispy }}

                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>

            <div class="card card-body">
                <div class="row">
                    <div class="col-12">
                        <h3 style="text-align: center">Mis mascotas</h3>
                    </div>
                    <div class="col-12">
                        <a href="" class="btn btn-info">Agregar mascota</a>
                    </div>
                </div>
                
                <hr>
                <div class="row">
                    {% for pet in pets %}
                    <div class="col-md-6 col-md-4">
                        <div class="card card-body">
                            <h4 style="text-align: center">{{ pet.name }}</h4>
                            <hr>
                            {% if pet.image %}
                            <img class="profile-pic" src="{{ pet.image.url }}" alt="Profile Image">
                            {% else %}
                            <img class="profile-pic" src="{% static 'images/profile/dog.jpg' %}"
                                alt="Profile Image">
                            {% endif %}
                            <hr>
                            <!-- A button group  -->
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="" class="btn btn-info">Editar</a>
                                <a href="" class="btn btn-danger">Eliminar</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>

    </div>
</div>

{% endblock content %}