{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="album py-5">
    <div class="container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-bs-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
          </div>
        {% endfor %}
        {% endif %}
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{% static 'images/cuidador_perros_1.jpg' %}" width="100%" height="225" />
                    <div class="card-body">
                        <h5 class="card-title">Cuidadores</h5>
                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <a href="{% url 'customers:appointment_customers' type='Cuidadores' %}" class="btn btn-sm btn-outline-secondary">Sacar Cita</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{% static 'images/peluqueria_servicios.jpg' %}" width="100%" height="225" />
                    <div class="card-body">
                        <h5 class="card-title">Peluqueria</h5>
                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <a href="{% url 'customers:appointment_customers' type='Peluqueria' %}" class="btn btn-sm btn-outline-secondary">Sacar Cita</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{% static 'images/veterinaria_servicios.jpg' %}" width="100%" height="225" />

                    <div class="card-body">
                        <h5 class="card-title">Veterinaria</h5>
                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <a href="{% url 'customers:appointment_customers' type='Veterinaria' %}" class="btn btn-sm btn-outline-secondary">Sacar Cita</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="card text-center">
                    <div class="card-header">
                        Encuentra un cuidador perfecto para ti y tu mascota
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Busca y contacta con cuidadores de confianza y con experiencia cerca de ti
                        </h5>
                        <p class="card-text">Una alternativa a los servicios que proporcionamos.</p>
                        <a href="#" class="btn btn-primary">Buscar</a>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5 bg-light table-responsive">
                <!--Title for the appointments -->
                <h3 class="text-center py-2 card-title">Mis Citas</h3>
                <!--Create a table with all the appointsments-->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Hora</th>
                            <th scope="col">Solicitud</th>
                            <th scope="col">Tipo de cita</th>
                            <th scope="col">Fecha de la Solicitud</th>
                            <th scope="col">Mascota</th>
                            <!-- <th scope="col">Estado</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for appointment in appointments %}
                        <tr>
                            <td>{{ appointment.date }}</td>
                            <td>{{ appointment.time }}</td>
                            <td>{{ appointment.request }}</td>
                            <td>{{ appointment.type }}</td>
                            <td>{{ appointment.date_of_request }}</td>
                            <td>{{ appointment.pet }}</td>
                            <!-- <td>{{ appointment.status }}</td> -->
                            <td>
                                <a href="" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i></a>
                                <a href="" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
                                <a href="" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
{% endblock content %}