{% extends 'base.html' %}

{% block content %}

{% load static %}
<section class="service">
    <h1>Tenemos los mejores servicios para tu peludito</h1>
    <h2>¡Échale un ojo!</h2>
    <a href="#" class="btn">SACAR CITA</a>
</section>

<header>
    <main>
        <div class="container">
            <div class="row align-items-start">
                <div class="img-cuidadores mt-3 mb-3">
                    <img src="{% static 'images/cuidadores.png' %}" width="200" height="200"
                        style="border-radius: 100%" />
                    <div class="conteiner-cuidadores ms-3">
                        <h3 class="title">Cuidadores</h3>
                        <p>Sabemos que los principales requisitos que debe cumplir un buen canguro de mascotas son la
                            seriedad, el sentido
                            de la responsabilidad, disponer de tiempo libre, y experiencia previa en el cuidado de
                            animales, pero si hay una característica fundamental que todos deben tener es el de amar y
                            ofrecer cariño a los animales.</p>
                        <p>Los servicios de cuidado de mascotas van desde una simple caminata hasta el cuidado por
                            varios días de la mascota, en tu casa o en la casa de la familia anfitriona.</p>
                    </div>
                </div>
                <div class="img-peluqueria mt-3 mb-3">
                    <img src="{% static 'images/peluqueria.png' %}" width="200" height="200"
                        style="border-radius: 100%" />
                    <div class="conteiner-peluqueria ms-3">
                        <h3 class="title">Peluquería</h3>
                        <p>Nuestros peluqueros caninos son profesionales especializados en higiene y estética que tienen
                            como
                            objetivo preservar la salud de las mascotas. No se trata solo de cumplir una función
                            estética, sino de cuidar la higiene de la manera más óptima posible para ofrecerle mejores
                            cuidados y mejorar su calidad de vida. En la estética canina no solo mejora el aspecto
                            físico del animal, sino que existen también ciertas razones médicas.</p>
                        <p>El objetivo es mejorar la higiene y la apariencia del can, por lo que sus funciones
                            principales son peinar, limpiar, cortar el pelo y cepillar. Aunque también realizan tareas
                            de corte de uñas, limpieza del canal auditivo, la aplicación de tratamientos para mejorar el
                            pelaje e incluso extraer posibles parásitos externos.</p>
                    </div>
                </div>
                <div class="img-veterinaria mt-3 mb-3">
                    <img src="{% static 'images/veterinaria.png' %}" width="200" height="200"
                        style="border-radius: 100%" />
                    <div class="conteiner-veterinaria ms-3">
                        <h3 class="title">Veterinaria</h3>
                        <p>Para tu pequeño amigo contamos con médicos veterinarios con los estudios y certificados
                            necesarios para poder hacer una valoración de calidad para nuestro compañero, diagnósticos y
                            el tratamiento más adecuado para nuestro peludo. Así que, acerciórate de elegir a un buen
                            especialista con nuestros servicios de veterinaria.</p>
                        <p>Contamos con la infraestructura decuada para que tú y tu mascota se sientan como en casa,
                            todos
                            nuestros instrumentos están esterilizados y desinfectados para que tu peludito siempre se
                            encuentre
                            seguro.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</header>
{% endblock content %}