{% extends 'base.html' %}
{% block content %}
{% load static %}
<section class="service">
    <h1>Tenemos los mejores servicios para tu peludito</h1>
    <h2>¡Échale un ojo!</h2>
</section>

<header>
    <main>
        <div class="container">
            <div class="row align-items-start">
                <div class="img-cuidadores">
                    <img src="{% static 'images/cuidadores.png' %}" width="200" height="200"
                        style="border-radius: 100%" />
                    <div class="conteiner-cuidadores">
                        <h3 class="title">Cuidadores</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo optio exercitationem ab
                            quaerat iure itaque culpa nesciunt sequi eum nulla minus nam numquam ut porro ipsam ratione
                            repudiandae dolore quod natus illo tempore, nisi obcaecati omnis. Suscipit cupiditate nobis
                            sapiente, dicta ipsa laboriosam, magni fuga vel dolorem optio tempore aliquam soluta fugiat
                            hic nostrum ipsam laudantium beatae in perferendis veniam non! Nam, temporibus tenetur earum
                            sunt aut unde totam? Natus aperiam nulla error recusandae quidem corporis est dolor beatae
                            necessitatibus, sequi veniam voluptates amet facilis, fugit dicta atque ullam saepe
                            quisquam, iure enim. Fuga voluptatem asperiores iure cum soluta dolore.</p>
                    </div>
                </div>
                <div class="img-peluqueria">
                    <img src="{% static 'images/peluqueria.png' %}" width="200" height="200"
                        style="border-radius: 100%" />
                    <div class="conteiner-peluqueria">
                        <h3 class="title">Peluquería</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo optio exercitationem ab
                            quaerat iure itaque culpa nesciunt sequi eum nulla minus nam numquam ut porro ipsam ratione
                            repudiandae dolore quod natus illo tempore, nisi obcaecati omnis. Suscipit cupiditate nobis
                            sapiente, dicta ipsa laboriosam, magni fuga vel dolorem optio tempore aliquam soluta fugiat
                            hic nostrum ipsam laudantium beatae in perferendis veniam non! Nam, temporibus tenetur earum
                            sunt aut unde totam? Natus aperiam nulla error recusandae quidem corporis est dolor beatae
                            necessitatibus, sequi veniam voluptates amet facilis, fugit dicta atque ullam saepe
                            quisquam, iure enim. Fuga voluptatem asperiores iure cum soluta dolore.</p>
                    </div>
                </div>
                <div class="img-veterinaria">
                    <img src="{% static 'images/veterinaria.png' %}" width="200" height="200"
                        style="border-radius: 100%" />
                    <div class="conteiner-veterinaria">
                        <h3 class="title">Veterinaria</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo optio exercitationem ab
                            quaerat iure itaque culpa nesciunt sequi eum nulla minus nam numquam ut porro ipsam ratione
                            repudiandae dolore quod natus illo tempore, nisi obcaecati omnis. Suscipit cupiditate nobis
                            sapiente, dicta ipsa laboriosam, magni fuga vel dolorem optio tempore aliquam soluta fugiat
                            hic nostrum ipsam laudantium beatae in perferendis veniam non! Nam, temporibus tenetur earum
                            sunt aut unde totam? Natus aperiam nulla error recusandae quidem corporis est dolor beatae
                            necessitatibus, sequi veniam voluptates amet facilis, fugit dicta atque ullam saepe
                            quisquam, iure enim. Fuga voluptatem asperiores iure cum soluta dolore.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</header>
{% endblock content %}