@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Nunito+Sans:wght@700&family=Paytone+One&family=Raleway:wght@100&display=swap');

.img2 {
    border-radius: 50%;
}

.nosotros-bg {
    background-color: rgba(213, 243, 243, 255);
}

#carouselExampleIndicators .carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 600px;
    overflow: hidden;

}

.title1 {
    font-size: 50px;
    color: #fff;
    font-family: Impact, 'Archivo Black', 'Arial Narrow Bold', sans-serif;

}

.subtitle1 {
    font-size: 20px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-family: Verdana, 'Nunito Sans', Tahoma, sans-serif;
}

.title2 {
    font-size: 50px;
    color: #fff;
    font-family: Impact, 'Archivo Black', 'Arial Narrow Bold', sans-serif;
}

.subtitle2 {
    font-size: 20px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-family: Verdana, 'Nunito Sans', Tahoma, sans-serif;
}

.title3 {
    font-size: 50px;
    color: #fff;
    font-family: Impact, 'Archivo Black', 'Arial Narrow Bold', sans-serif;
}

.subtitle3 {
    font-size: 20px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-family: Verdana, 'Nunito Sans', Tahoma, sans-serif;
}

.imgbtn:hover {
    transform: scale(1.1);
}


.sent-message {
	background-color: #f3f3f3;
	border-radius: 30px;
	padding: 10px 25px;
	width: 40%;
    word-break: break-word;
}

.received-message {
	background-color: rgb(1, 196, 255);
	color: #fff;
	border-radius: 30px;
	padding: 10px 25px;
	width: 40%;
    word-break: break-word;
}

.message-receiver-container {
	margin-left: auto;
	margin-right: 0;
}
